<%- include("partials/header") -%>

<div class="">
  <h1>Compose</h1>
  <input type="text" name="" value="">
  <button type="submit" name="button">Publish</button>
</div>

<%- include("partials/footer") -%>
